.we-have {
  &__list {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px; 
    justify-content: space-between;
  }

  &__item-container:not(:last-child) {
    margin-right: 20px;
  }

  &__item {
    margin-left: 20px;
  }

  a {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 30px;
  }
}

.rules {
  margin-bottom: 40px;
}

.service-banner {

  &__banner {
    padding: 20px;
    height: 247px;
    background: linear-gradient(45deg, #f8a2615c, #000000eb), url(../img/stable.png) 0 40% no-repeat;
    position: relative;
  }
}

.service-banner {
  
  &__banner {
    height: 247px;
    background: linear-gradient(45deg, #f8a2615c, #000000eb), url(../img/stable.png) 0 40% no-repeat;
    position: relative;
  }

  &__bottom {
    position: absolute;
    right: 95px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__text {
    color: #fff;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 95px;
    transform: translate(0, -50%);
  
    h2 {
      margin: 0;
    }
  }
}

@media (max-width: 991px) {
  .we-have {
    &__item {
      a {
        font-size: 20px;
        margin-bottom: 6px;
      }
    }
  }
}

@media (max-width: 767px) {

  .service-banner {
    padding: 0;
  }

  .we-have {
    
    &__list {
      flex-wrap: wrap;
    }
    
    &__item-container {
      flex-basis: 50%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    &__item {
      a {
        font-size: 18px;
        margin-bottom: 4px;
      }
    }
  }

  .service-banner {

    &__text {
      width: 100%;
      left: 0;
      top: 66px;
      text-align: center;
    }

    &__bottom {
      top: auto;
      bottom: 40px;
      left: 50%;
      transform: translate(-50%, 0);
      right: auto;
    }
  }

}

@media (max-width: 480px) {

  .we-have {
    &__item {
      a {
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
}