
.banner {
  display: flex;
  height: 350px;
  background-color: $light-grey-color;
  padding: 0;

  &__content {
    width: 50%;
    padding: 40px;
  }

  &__title {
    color: #D39D7E;
    margin-top: 0;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__img {
    width: 50%;
    background: url(../img/banner-img.png) top left / cover no-repeat;
    border-radius: 0 0 0 420px;
  }
}

.horse-bg-screen {
  position: relative;
  height: 100vh;
  min-height: 650px;
  overflow: hidden;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2);

  &__background {
    width: 100%;
    z-index: -100;
    position: absolute;
    height: 100vh;
    min-height: 800px;

    img {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      max-width: 1140px;
      transform: translate(-50%, 0);
      left: 50%;
    }
  }
}

.main-description-block  {

  &__message {
    max-width: 600px;
  }
  
  &__text {
    margin-bottom: 50px;
  }
}

.description-block {
  max-width: 660px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;

  &__text {
    padding: 0 20px;
  }
}

.horsemanship {
  margin-top: $main-margin-top;
  margin-bottom: $main-margin-bottom;

  &__description-block {
    margin-bottom: 0;
  }
}

.horsemanship-cards {
  display: flex;

  &__card {
    text-align: center;
    padding: 20px;
  
    img {
      height: 92px;
      width: auto;
    }

    &:hover .no-touch{
      cursor: pointer;

      .horsemanship-cards__cards-title {
        color: $turquoise-active-color;
      }
    }
  }

  &__cards-text {
    text-align: justify;
  }
}

.linktest {
  display: block;
}

.stables-healing {
  margin: 0 auto;

  &__link {

    &:hover .no-touch {
      .stables-healing__title {
        color: $turquoise-active-color;
      }
    }
  }

  &__card {
    display: flex;
    background-color: $light-grey-color;
    max-height: 450px;
  }

  &__pic, &__description {
      width: 50%;
  }

  &__description-wrap {
    max-width: 590px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  &__title {
    margin-top: -40px;
  }

  &__pic {
    display: flex;
  
    img {
      max-width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__description {
    padding: 40px;
    text-align: center;
  }

  &__title {
    color: $turquoise-color;
  }

}

.about {
  margin-top: $main-margin-top;
  margin-bottom: $main-margin-bottom;
}

.gallery {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  &__main-pic {  
    width: 80%;
    display: flex;
    margin-right: 20px;
    position: relative;
  
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__prev-arrow {
    user-select: none;
    position: absolute;
    width: 0; 
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid #ffffff7a;
    border-bottom: 20px solid transparent;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    transition: border 0.2s;
    cursor: pointer;
  
    &:hover .no-touch{
      border-top: 25px solid transparent;
      border-right: 35px solid #00fff47d;
      border-bottom: 25px solid transparent;
    }
  }
  
  &__next-arrow {
    user-select: none;
    position: absolute;
    width: 0; 
    height: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid #ffffff7a;
    border-bottom: 20px solid transparent;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    transition: border 0.2s;
    cursor: pointer;
  
    &:hover .no-touch {
      border-top: 25px solid transparent;
      border-left: 35px solid #00fff47d;
      border-bottom: 25px solid transparent;
    }
  }

  &__prev-block {
    width: 20%;
    overflow: hidden;
  }
  
  &__prev-pic {
    width: 100%;
    overflow: hidden;
    display: flex;
    filter: opacity(0.5);
    transition: filter 0.5s;
  
    &:nth-child(2 + n) {
      display: none;
    }
  
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  
    &.active {
      filter: opacity(1);
    }
  
    &:hover .no-touch {
      filter: opacity(1);
    }
  
    img {
      object-fit: cover;
      width: 100%;
      cursor: pointer;
    }
  }
}

.under-gallery-description {
  display: flex;
  margin-bottom: 20px;

  &__block {
    width: 50%;
  
    &:first-child {
      margin-right: 40px;
    }
  }
  
  &__text-list {
    display: flex;
    justify-content: space-between;
  
    li {
      margin-left: 18px;
      margin-bottom: 0;
    }
  }
}

.news {
  margin-top: $main-margin-top;
  margin-bottom: $main-margin-bottom;
  
  &__cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__card {
    display: block;
    height: 350px;
    width: calc(25% - 15px);
    text-align: center;
    margin-right: 20px;
    overflow: hidden;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  
  &__cards-text {
    text-align: justify;
    max-height: 100px;
    overflow: hidden;
  }
  
  &__cards-img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
  }
  
  &__date {
    margin: 20px 0;
  }
}

@media (max-width: 991px) {

  .horsemanship-cards {
    flex-wrap: wrap;

    &__card {
      width: 50%;
      margin-bottom: 20px;
  
      &:not(:last-child) {
        margin-right: 0px;
      }
    }
  }

  .news {

    &__cards {
      flex-wrap: wrap;
    }
  
    &__card {
      flex-basis: calc(50% - 10px);
      margin-bottom: 20px;
      height: auto;
      max-height: 460px;
  
      &:not(:last-child) {
        margin-right: 0px;
      }
  
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
  }

  .stables-healing {

    &__title {
      margin-top: 0;
    }
  }
}

@media (max-width: 767px) {

  .banner {
    height: auto;
    flex-direction: column;

    &__content {
      width: 100%;
      order: 2;
    }

    &__img {
      width: 100%;
      height: 320px;
      order: 1;
      border-radius: 0;
    }

  }


  .horse-bg-screen {
    height: 660px;

    &__background {
      min-height: 0;
      height: 660px;
    }
  }

  .horsemanship {

    &__card {
      padding: 0;
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
  }

  .stables-healing {

    &__card {
      flex-wrap: wrap;
      max-height: none;
    }

    &__pic, &__description {
      width: 100%;
    }

    &__description {
      order: 2;
    }

    &__title {
      margin-top: 0;
    }
  }
  
  .under-gallery-description {
    flex-wrap: wrap;

    &__block {
      margin-bottom: 20px;
      width: 100%;
      
      &:first-child {
        margin-right: 0;
      }
    }    
  }

  .gallery {
    flex-direction: column;
    margin-bottom: 20px;

    &__main-pic {
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  
    &__prev-block {
      width: 100%;
      display: flex;
    }
  
    &__prev-pic {
  
      height: 15vw;
      overflow: hidden;
  
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
}